<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.spring.guteam.BoardCommentMapper">

	 <insert id="insert">
	 	insert into ${board_comment}
	 	(${gameBoardId},${memberId},${commentContent})
	 	values (#{gameBoardId},#{memberId},#{commentContent})
	 </insert>
	 <select id="select_all_by_board_id" resultType="BoardCommentVO">
	 	select * from ${board_comment}
	 	where ${gameBoardId} = #{gameBoardId}
	 	order by ${commentId}
	 </select>
	 <update id="update">
	 	update ${board_comment}
	 	set ${commentContent} = #{commentContent}
	 	where ${commentId} = #{commentId}
	 </update>
	 <update id="update_delete">
	 	update ${board_comment}
	 	set ${deleted} = 'Y'
	 	where ${commentId} = #{commentId}
	 </update>
	 
	 <select id="select_and_paging" resultType="BoardCommentVO">
	 	select b.${commentId}, b.${gameBoardId}, b.${memberId}, b.${commentContent}, b.${replyCnt}, b.${commentDateCreated},b.${deleted}
	 	from (
	 		select rownum rn, a.* from(
	 			select * from ${board_comment} where ${gameBoardId}=#{gameBoardId} and (${deleted} = 'N' or ${replyCnt} > 0) order by ${commentId} desc
	 		)a
	 	)b where rn between #{start} and #{end} 
	 </select>
	 
	 <select id="total_count" resultType="Integer">
	 	select count(*) total_cnt from ${board_comment} where ${gameBoardId}=#{gameBoardId} and ${deleted} = 'N'
	 </select>
	 
	 <select id="get_board_id" resultType="Integer">
	 	select ${gameBoardId} from ${board_comment} where ${commentId}=#{commentId} 
	 </select>
	 
	 <update id="reply_cnt_update">
	 	update ${board_comment}
	 	set ${replyCnt} = ${replyCnt}+#{amount}
	 	where ${commentId}= #{commentId}
	 </update>
	 
	 <select id="select_all_by_member_id" resultType="BoardCommentVO">
	 	select * from ${board_comment}
	 	where ${memberId} = #{memberId}
	 </select>
	
	 <select id="select_all_comment" resultType="BoardAndReplyVO">
	 	select b.* from 
	 	(select rownum rn, a.* from
	 	(select a.${gameBoardId} as ${boardId}, a.${commentContent} as content,a.${commentDateCreated} as ${createdDate},b.${gameId} from (select * from ${board_comment} where ${memberId}=#{memberId} and ${deleted}='N')a, (select * from ${game_board})b where a.${gameBoardId} = b.${gameBoardId}
		union all
		select c.${gameBoardId} as ${boardId},c.${replyContent} as content ,c.${replyDateCreated} as ${createdDate},d.${gameId} from (select a.*,b.${gameBoardId} from (select * from ${reply} where ${memberId}=#{memberId} and ${deleted}='N')a, (select * from ${board_comment})b where a.${commentId}=b.${commentId})c, (select * from ${game_board})d where c.${gameBoardId}=d.${gameBoardId} order by ${createdDate} desc
		)
		a)b where rn between #{start} and #{end}
	</select>	 
	 <select id="select_all_comment_count" resultType="Integer">
	 	select count(*) from
	 	(select a.${gameBoardId} as ${boardId}, a.${commentContent} as content,a.${commentDateCreated} as ${createdDate},b.${gameId} from (select * from ${board_comment} where ${memberId}=#{memberId} and ${deleted}='N')a, (select * from ${game_board})b where a.${gameBoardId} = b.${gameBoardId}
		union all
		select c.${gameBoardId} as ${boardId},c.${replyContent} as content ,c.${replyDateCreated} as ${createdDate},d.${gameId} from (select a.*,b.${gameBoardId} from (select * from ${reply} where ${memberId}=#{memberId} and ${deleted}='N')a, (select * from ${board_comment})b where a.${commentId}=b.${commentId})c, (select * from ${game_board})d where c.${gameBoardId}=d.${gameBoardId} order by ${createdDate} desc)
	</select>	 
	
	<delete id="delete">
		delete from ${board_comment} where ${commentId} = #{commentId}
	</delete>
</mapper>