<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.spring.guteam.FriendRequestMapper">
	 
	 <!-- 친구 요청 -->
	 <insert id="insert">
	 insert into ${friend_request}
	 (${sendMemberId}, ${receiveMemberId}, ${sendDate})
	 values (#{sendMemberId}, #{receiveMemberId}, sysdate)
	 </insert>
	 
	 <!-- 친구 요청 내역 -->
	 <select id="select_to_request" resultType="FriendRequestVO">
	 select * from ${friend_request} where ${sendMemberId} = #{sendMemberId} 
	 </select>
	 
	 <!-- 내게 온 친구 요청 내역 -->
	 <select id="select_from_request" resultType="FriendRequestVO">
	 select * from ${friend_request} where ${receiveMemberId} = #{receiveMemberId} 
	 </select>
	 
	 <!-- 응답시(수락/거절) 해당 row 삭제 -->
	 <delete id="delete">
	 delete from ${friend_request} where ${sendMemberId} = #{sendMemberId}
	 </delete>
	 
</mapper>