<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.spring.guteam.gameMapper">

    <insert id="insert">
    	insert into ${game} (${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}) values (#{gameName}, #{price}, #{genre}, sysdate, sysdate, #{gameImageName})
    </insert>
    
    <select id="select_by_game_id" resultType="GameVO">
    	select * from ${game} where ${gameId}=#{gameId}
    </select>
    
    <update id="update">
    	update ${game} set ${gameName}=#{gameName}, ${price}=#{price}, ${genre}=#{genre}, ${gameImageName}=#{gameImageName}, ${updateDate}=sysdate where ${gameId}=#{gameId}
    </update>
    
    <select id="paging" resultType="GameVO">
    	select ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService}
    	from (select rownum rn, a.* from(
    	select * from ${game} order by ${gameId} desc)a
    	) where rn between #{start} and #{end}
    </select>
    
    <select id="total_count" resultType="Integer">
    	select count(*) total_cnt from ${game}
    </select>
    
    <select id="total_count_by_keyword" resultType="Integer">
    	select count(*) total_cnt from ${game} 
    	where lower(${gameName}) like '%'||lower(#{keyword})||'%' or
    		lower(${genre}) like '%'||lower(#{keyword})||'%'
    </select>
    
    <select id="total_count_by_price" resultType="Integer">
    	select count(*) total_cnt from ${game}
    	where ${price} between 0 and #{price}
    </select>
    
    <select id="select_by_price" resultType="GameVO">
    	select ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService}
    	from(select rownum rn, a.* from (select * from ${game}
    	where ${price} between 0 and #{price}
    	order by ${price}, ${gameId} desc)a )
    	where rn between #{start} and #{end}
    </select>
    
    <select id="select_by_keyword" resultType="GameVO">
    select ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService}
    	from(select rownum rn, a.* from (
    	select * from ${game}
    	where lower(${gameName}) like '%'||lower(#{keyword})||'%' or
    		lower(${genre}) like '%'||lower(#{keyword})||'%'
    		order by ${gameId} desc)a )
    	where rn between #{start} and #{end}
    </select>
    
    <select id="get_seq_no" resultType="Integer">
    	select last_number from user_sequences where sequence_name='GAME_SEQ'
    </select>
    
    <select id="select_by_keyword_order_by_price" resultType="GameVO">
    	select ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService}
    	from (select rownum rn, a.* from (select * from ${game}
    	where lower(${gameName}) like '%'||lower(#{keyword})||'%' or
    		lower(${genre}) like '%'||lower(#{keyword})||'%' order by ${price}, ${gameId} desc)a )
    	where rn between #{start} and #{end}
    </select>
    
     <select id="select_by_keyword_order_by_price_desc" resultType="GameVO">
    	select ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService}
    	from (select rownum rn, a.* from (select * from ${game}
    	where lower(${gameName}) like '%'||lower(#{keyword})||'%' or
    		lower(${genre}) like '%'||lower(#{keyword})||'%' order by ${price} desc, ${gameId} desc)a )
    	where rn between #{start} and #{end}
    </select>
    
    <select id="select_by_keyword_order_by_purchased" resultType="GameVO">
    	select ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService}
    	from (select rownum rn, b.* from (select a.*, (select count(*) from ${purchased} c where a.${gameId}=c.${gameId}) as purchased_cnt 
    	from ${game} a
    	where lower(${gameName}) like '%'||lower(#{keyword})||'%' or
    		lower(${genre}) like '%'||lower(#{keyword})||'%' order by purchased_cnt desc, ${gameId} desc)b )
    	where rn between #{start} and #{end}
    </select>
    
    <select id="select_by_keyword_order_by_wishlist" resultType="GameVO">
    	select ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService}
    	from (select rownum rn, b.* from (select a.*, (select count(*) from ${wish_list} c where a.${gameId}=c.${gameId}) as wishlist_cnt 
    	from ${game} a
    	where lower(${gameName}) like '%'||lower(#{keyword})||'%' or
    		lower(${genre}) like '%'||lower(#{keyword})||'%' order by wishlist_cnt desc, ${gameId} desc)b )
    	where rn between #{start} and #{end}
    </select>
    
    <select id="select_by_keyword_order_by_rating" resultType="GameVO">
    	select ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService}
    	from (select rownum rn, b.* from (select a.*, (select avg(${rating}) from ${review} c where a.${gameId}=c.${gameId}) as rating 
    	from ${game} a
    	where lower(${gameName}) like '%'||lower(#{keyword})||'%' or
    		lower(${genre}) like '%'||lower(#{keyword})||'%' order by rating desc nulls last, ${gameId} desc)b )
    	where rn between #{start} and #{end}
    </select>
    
    <select id="select_by_price_order_by_price" resultType="GameVO">
    	select ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService}
    	from (select rownum rn, a.* from (select * from ${game}
    	where lower(${gameName}) like '%'||lower(#{keyword})||'%' or
    		lower(${genre}) like '%'||lower(#{keyword})||'%' order by ${price}, ${gameId} desc)a )
    	where rn between #{start} and #{end}
    </select>
    
    <select id="select_by_price_order_by_price_desc" resultType="GameVO">
    	select ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService}
    	from(select rownum rn, a.* from (select * from ${game}
    	where ${price} between 0 and #{price}
    	order by ${price} desc, ${gameId} desc)a )
    	where rn between #{start} and #{end}
    </select>
    
    <select id="select_by_price_order_by_purchased" resultType="GameVO">
    select ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService}
    	from (select rownum rn, b.* from (select a.*, (select count(*) from ${purchased} c where a.${gameId}=c.${gameId}) as purchased_cnt 
    	from ${game} a
    	where ${price} between 0 and #{price}
    	order by purchased_cnt desc, ${price}, ${gameId} desc)b )
    	where rn between #{start} and #{end}
    </select>
    
    <select id="select_by_price_order_by_wishlist" resultType="GameVO">
    select ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService}
    	from (select rownum rn, b.* from (select a.*, (select count(*) from ${wish_list} c where a.${gameId}=c.${gameId}) as wishlist_cnt 
    	from ${game} a
    	where ${price} between 0 and #{price}
    	order by wishlist_cnt desc, ${price}, ${gameId} desc)b )
    	where rn between #{start} and #{end}
    </select>
    
    <select id="select_by_price_order_by_rating" resultType="GameVO">
    select ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService}
    	from (select rownum rn, b.* from (select a.*, (select avg(${rating}) from ${review} c where a.${gameId}=c.${gameId}) as rating 
    	from ${game} a
    	where ${price} between 0 and #{price}
    	order by rating desc nulls last, ${price}, ${gameId} desc)b )
    	where rn between #{start} and #{end}
    </select>
    
    <select id="select_by_interest_point" resultType="GameVO">
    	select point, ${gameId} from (
    		select rownum rn, a.* from (
    			select sum(point) point, ${gameId} from (
    				select count(*) point, ${gameId} 
    				from ${game_board} 
    				where ${memberId}=#{memberId} 
    				group by ${gameId}
    				union all
    				select 10 point, ${gameId}
    				from ${purchased}
    				where ${memberId}=#{memberId} 
    				group by ${gameId}
    				union all
    				select 1 point, ${gameId}
    				from ${wish_list}
    				where ${memberId}=#{memberId} 
    				group by ${gameId}
    				union all
    				select ${rating} point, ${gameId} 
    				from ${review}
    				where ${memberId}=#{memberId}
    				union all
    				select count(*) point, ${gameId}
    				from ${viewed}
    				where ${memberId}=#{memberId}
    				group by ${gameId}
    				)
    			group by ${gameId}
    			order by point desc
    			)a 
    		) 
    	where rn between 1 and 3
    </select>
    
    <select id="select_by_interest_keyword" resultType="GameVO">
    	select ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService} from (
   			 select rownum rn, ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService} from (
    			 select ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService} count(*) row_count from (
			    	select * from ${game}
			    	where lower(${gameName}) like '%'||lower(#{keyword2})||'%' or
		    		lower(${genre}) like '%'||lower(#{keyword1})||'%'
		    		union all
		    		select * from ${game}
			    	where lower(${gameName}) like '%'||lower(#{keyword4})||'%' or
		    		lower(${genre}) like '%'||lower(#{keyword3})||'%'
		    		union all
		    		select * from ${game}
			    	where lower(${gameName}) like '%'||lower(#{keyword6})||'%' or
		    		lower(${genre}) like '%'||lower(#{keyword5})||'%'
		    		union all
		    		select * from ${game}
	    			)
	    		group by ${gameId}, ${gameName}, ${price}, ${genre}, ${releaseDate}, ${updateDate}, ${gameImageName}, ${endService}
   				)
    		order by row_count desc
    		)
    	where rn between #{start} and #{end}
    </select>
    
    <select id="select_keyword" resultType="String">
    	select ${gameName} as keyword from ${game} where lower(${gameName}) like '%'||lower(#{keyword})||'%'
    	union
    	select ${genre} as keyword from ${game} where lower(${genre}) like '%'||lower(#{keyword})||'%'
    </select>
    
    <update id="update_to_end">
    	update ${game} set ${endService}='Y' where ${gameId}=#{gameId}
    </update>
   
</mapper>