<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.spring.guteam.gameBoardMapper">

    <insert id="insert">
    	insert into ${game_board} (${gameId}, ${memberId}, ${gameBoardTitle}, ${gameBoardContent}, ${gameBoardDateCreated}) values (#{gameId}, #{memberId}, #{gameBoardTitle}, #{gameBoardContent}, sysdate)
    </insert>
    <select id="select_all_by_game_id" resultType="GameBoardVO">
    	select * from ${game_board} where ${gameId}=#{gameId} order by ${gameBoardId} desc
    </select>
    <select id="select_by_game_board_id" resultType="GameBoardVO">
    	select * from ${game_board} where ${gameBoardId}=#{gameBoardId}
    </select>
    <update id="update">
    	update ${game_board} set ${gameBoardTitle}=#{gameBoardTitle}, ${gameBoardContent}=#{gameBoardContent} where ${gameBoardId}=#{gameBoardId}
    </update>
    <delete id="delete">
    	delete ${game_board} where ${gameBoardId}=#{gameBoardId}
    </delete>
    
    <select id="paging" resultType="GameBoardVO">
    	select ${gameBoardId}, ${gameId}, ${memberId}, ${gameBoardTitle}, ${gameBoardContent}, ${gameBoardDateCreated}, ${commentCnt}
    	from (select rownum rn, a.* from(
    	select * from ${game_board} where ${gameId}=#{gameId} order by ${gameBoardId} desc)a
    	) where rn between #{start} and #{end}
    </select>
    
    <select id="total_count" resultType="Integer">
    	select count(*) total_cnt from ${game_board} where ${gameId}=#{gameId}
    </select>
    
    <select id="total_count_by_member_id" resultType="Integer">
    	select count(*) total_cnt from ${game_board}
    	where ${memberId} like '%'||#{keyword}||'%' and ${gameId}=#{gameId}
    </select>
    
    <select id="total_count_by_keyword" resultType="Integer">
    	select count(*) total_cnt from ${game_board}
    	where ${gameId}=#{gameId} and (${gameBoardTitle} like '%'||#{keyword}||'%' or
    		${gameBoardContent} like '%'||#{keyword}||'%')
    </select>
    
    <select id="select_by_member_id" resultType="GameBoardVO">
    	select * from ${game_board}
    	where ${gameId}=#{gameId} and (${memberId} like '%'||#{keyword}||'%' and ${gameId}=#{gameId})
    	order by ${gameBoardId} desc
    </select>
    
    <select id="select_by_keyword" resultType="GameBoardVO">
    	select * from ${game_board}
    	where ${gameId}=#{gameId} and (${gameBoardTitle} like '%'||#{keyword}||'%' or
    		${gameBoardContent} like '%'||#{keyword}||'%')
    	order by ${gameBoardId} desc
    </select>
    
   
    <update id="update_comment_cnt">
    	update ${game_board}
    	set ${commentCnt} = ${commentCnt} + #{amount}
    	where ${gameBoardId} = #{gameBoardId}
    </update>
    
    <update id = "update_deleted">
    	update ${game_board}
    	set ${gameBoardTitle} = '삭제된 게시글 입니다', ${gameBoardContent} = '삭제된 게시글 입니다'
    	where ${gameBoardId} = #{gameBoardId}
    </update>
 
    <!-- 
    #{start} : criteria.getStart()
    #{end} : criteria.getEnd()
     -->
</mapper>