<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.spring.guteam.MemberMapper">
	 <!-- <insert id="insert">
	 	insert into ${test_board}
	 	(${boardTitle},${boardContent},${memberId})
	 	values (#{boardTitle}, #{boardContent},#{memberId})
	 	 $ : Colum명 
	 	 # : ? (쿼리문) vo 변수와 정확히 일치해야 한다(방식은 get메서드) 
	 </insert> -->
	 <insert id="insert">
	 insert into ${member}
	 (${memberId}, ${password}, ${nickname}, ${email}, ${phone}, ${cash}, ${memberImageName})
	 values (#{memberId}, #{password}, #{nickname}, #{email}, #{phone}, #{cash}, #{memberImageName})
	 </insert>
	 
	 <select id="select_all" resultType="MemberVO">
	 select * from ${member} order by ${memberId} and ${deleted}='N' desc
	 </select>
	 
	 <select id="select_by_member_id" resultType="MemberVO">
	 select * from ${member} where ${memberId} = #{memberId} and ${deleted}='N'
	 </select>
	 
	 <select id="selectAll_by_nickname" resultType="String">
	 select ${nickname} ||' ('||${memberId} || ')' as keyword from ${member} where lower(${memberId}) like '%'||lower(#{keyword})||'%'
	 AND ${isAdmin} not like 'Y' and ${deleted}='N'
	 union
	 select ${nickname} ||' ('||${memberId} || ')' as keyword from ${member} where lower(${nickname}) like '%'||lower(#{keyword})||'%'
	 AND ${isAdmin} not like 'Y' and ${deleted}='N'
	 </select>
	 
	 <select id="select_by_nickname" resultType="String">
	 select ${memberId} from ${member} where ${nickname} = #{nickname}
	 </select>
	 
	 <select id="select_by_member_id_to_nick" resultType="String">
	 select ${nickname} from ${member} where ${memberId} = #{memberId}
	 </select>
	 
	 <update id="update_member">
	 update ${member} 
	 set ${password} = #{password}, ${nickname} = #{nickname}, ${email} = #{email}, ${phone} = #{phone}, 
	 		${memberImageName} = #{memberImageName}
	 where ${memberId} = #{memberId} and ${deleted}='N'
	 </update>
	 
	 <update id="update_cash">
	 update ${member} set ${cash} = #{cash} where ${memberId} = #{memberId} and ${deleted}='N'
	 </update>
	 
	 <update id="delete">
	 update ${member} set ${deleted}='Y' where ${memberId} = #{memberId}
	 </update>
	 	 
	 <select id="select_by_keyword" resultType="MemberVO">
	 	select * from ${member} where ${nickname} like '%'||#{keyword}||'%' and ${deleted}='N'
	 </select>

	 <select id="select_nickname" resultType="MemberVO">
	 	select * from ${member} where ${nickname} = #{nickname} and ${deleted}='N'
	 </select>
	 
</mapper>