<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.spring.guteam.MessageReceiveMapper">
	 <!-- <insert id="insert">
	 	insert into ${test_board}
	 	(${boardTitle},${boardContent},${memberId})
	 	values (#{boardTitle}, #{boardContent},#{memberId})
	 	 $ : Colum명 
	 	 # : ? (쿼리문) vo 변수와 정확히 일치해야 한다(방식은 get메서드) 
	 </insert> -->
	 <insert id="insert">
	 insert into ${message_receive}
	 (${receiveMemberId}, ${sendMemberId}, ${sendMemberNickname}, ${messageTitle}, ${messageContent})
	 values (#{receiveMemberId}, #{sendMemberId}, #{sendMemberNickname}, #{messageTitle}, #{messageContent})
	 </insert>
	 
	 <select id="select_by_message_id" resultType="MessageReceiveVO">
	 select * from ${message_receive} where ${receiveMessageId} = #{receiveMessageId}
	 </select>
	 	 
	 <select id="select_paging_n" resultType="MessageReceiveVO">
	 select ${receiveMessageId}, ${receiveMemberId}, ${sendMemberId}, ${sendMemberNickname}, 
	 ${messageTitle}, ${messageContent}, ${messageDateCreated}, ${messageSave}
	 from (
	 select rownum rn, a.* 
	 	from (select * from ${message_receive} where ${receiveMemberId} = #{receiveMemberId} 
	 	and ${messageSave} = 'N' order by ${receiveMessageId} desc)a
	 ) where rn between #{start} and #{end}
	 </select>
	 
	 <select id="select_paging_y" resultType="MessageReceiveVO">
	 select ${receiveMessageId}, ${receiveMemberId}, ${sendMemberId}, ${sendMemberNickname}, 
	 ${messageTitle}, ${messageContent}, ${messageDateCreated}, ${messageSave}
	 from (
	 select rownum rn, a.* 
	 	from (select * from ${message_receive} where ${receiveMemberId} = #{receiveMemberId} 
	 	and ${messageSave} = 'Y' order by ${receiveMessageId} desc)a
	 ) where rn between #{start} and #{end}
	 </select>
	 
	 <update id="update_box">
	 update ${message_receive}
	 set ${messageSave} = #{messageSave}
	 where ${receiveMessageId} = #{receiveMessageId}
	 </update>
	 
	 <select id="total_count" resultType="Integer">
	 select count(*) total_cnt from ${message_receive} 
	 </select>
	 
	 <delete id="delete">
	 delete from ${message_receive} where ${receiveMessageId} = #{receiveMessageId}
	 </delete>
	 
	 
</mapper>