<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.spring.guteam.MessageReceiveMapper">
	 <!-- <insert id="insert">
	 	insert into ${test_board}
	 	(${boardTitle},${boardContent},${memberId})
	 	values (#{boardTitle}, #{boardContent},#{memberId})
	 	 $ : Colum명 
	 	 # : ? (쿼리문) vo 변수와 정확히 일치해야 한다(방식은 get메서드) 
	 </insert> -->
	 <insert id="insert">
	 insert into ${message_receive}
	 (${receiveMemberId}, ${sendMemberId}, ${sendMemberNickname}, ${messageTitle}, ${messageContent})
	 values (#{receiveMemberId}, #{sendMemberId}, #{sendMemberNickname}, #{messageTitle}, #{messageContent})
	 </insert>
	 
	 <select id="select_by_message_id" resultType="MessageReceiveVO">
	 select * from ${message_receive} where ${receiveMessageId} = #{receiveMessageId}
	 </select>
	 	 
	 <select id="select_paging_n" resultType="MessageReceiveVO">
	 select ${receiveMessageId}, ${receiveMemberId}, ${sendMemberId}, ${sendMemberNickname}, 
	 ${messageTitle}, ${messageContent}, ${messageDateCreated}, ${messageSave}
	 from (
	 select rownum rn, a.* 
	 	from (select * from ${message_receive} where ${receiveMemberId} = #{receiveMemberId} 
	 	and ${messageSave} = 'N' order by ${receiveMessageId} desc)a
	 ) where rn between #{start} and #{end}
	 </select>
	 
	 <update id="update_box">
	 update ${message_receive}
	 set ${messageSave} = #{messageSave}
	 where ${receiveMessageId} = #{receiveMessageId}
	 </update>
	 
	 <select id="total_count" resultType="Integer">
	 select count(*) total_cnt from ${message_receive} where ${receiveMemberId}=#{receiveMemberId}
	 </select>
	 
	 <select id="box_count" resultType="Integer">
	 select sum(total_cnt) from 
	 (select count(*) total_cnt, ${receiveMemberId} memberId from ${message_receive} where ${receiveMemberId}=#{memberId} and ${messageSave}='Y'
	 union all
	 select count(*) total_cnt, ${sendMemberId} memberId from ${message_send} where ${sendMemberId}=#{memberId} and ${messageSave}='Y')
	 </select>
	 
	 <delete id="delete">
	 delete from ${message_receive} where ${receiveMessageId} = #{receiveMessageId}
	 </delete>
	 
	 <select id="select_save_message" resultType="MessageSaveVO">
	 	select message_id, member_id, from_to_id, from_to_nickname, from_to, title, content, date_created
	 	from(select rownum rn, a.* from(
	 	select * from(select ${sendMessageId} as message_id,
	 			${sendMemberId} as member_id,
	 			${receiveMemberId} as from_to_id,
	 			${receiveMemberNickname} as from_to_nickname,
	 			'[보낸 편지]' as from_to, 
	 			${messageTitle} as title,
	 			${messageContent} as content,
	 			${messageDateCreated} as date_created
	 	from ${message_send} where ${sendMemberId}=#{memberId} and ${messageSave}='Y'
	 	union all
	 	select ${receiveMessageId} as message_id,
	 			${receiveMemberId} as member_id,
	 			${sendMemberId} as from_to_id,
	 			${sendMemberNickname} as from_to_nickname,
	 			'[받은 편지]' as from_to,
	 			${messageTitle} as title,
	 			${messageContent} as content,
	 			${messageDateCreated} as date_created
	 	from ${message_receive} where ${receiveMemberId}=#{memberId} and ${messageSave}='Y')
	 	order by date_created desc)a )
	 	where rn between #{start} and #{end}
	 	
	 	
	 </select>
	 
</mapper>