<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.spring.guteam.PurchasedMapper">
	<insert id="insert">
		insert into ${purchased}
		(${memberId},${gameId})
		values (#{memberId},#{gameId})
	</insert>
	<select id="select" resultType="PurchasedVO">
		select * from ${purchased}
		where ${memberId} = #{memberId}
	</select>
	
	<select id="find" resultType="PurchasedVO">
		select * from ${purchased}
		where ${memberId} = #{memberId} and ${gameId} = #{gameId}
	</select>
	
	<select id="find_friend" resultType="String">
		select ${friendId} FROM ${friend} where ${memberId} = #{memberId}
		intersect
		select ${memberId} FROM ${purchased} where ${gameId} = #{gameId}
	</select>
</mapper>