<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.spring.guteam.reviewMapper">

    <insert id="insert">
    	insert into ${review} (${gameId}, ${memberId}, ${reviewTitle}, ${reviewContent}, ${reviewDateCreated}, ${rating}) values (#{gameId}, #{memberId}, #{reviewTitle}, #{reviewContent}, sysdate, #{rating})
    </insert>
    <select id="select_all_by_game_id" resultType="ReviewVO">
    	select * from ${review} where ${gameId}=#{gameId} order by ${reviewId} desc
    </select>
    <select id="select_by_review_id" resultType="ReviewVO">
    	select * from ${review} where ${reviewId}=#{reviewId}
    </select>
    <select id="reveiw_writed" resultType="Integer">
    	select ${reviewId} from ${review} where ${gameId}=#{gameId} and ${memberId}=#{memberId}    
    </select>
    
    <update id="update">
    	update ${review} set ${memberId}=#{memberId}, ${reviewTitle}=#{reviewTitle}, ${reviewContent}=#{reviewContent}, ${rating}=#{rating} where ${reviewId}=#{reviewId}
    </update>
    <delete id="delete">
    	delete ${review} where ${reviewId}=#{reviewId}
    </delete>
    
    <select id="paging" resultType="ReviewVO">
    	select ${reviewId}, ${gameId}, ${memberId}, ${reviewTitle}, ${reviewContent}, ${reviewDateCreated}, ${rating}, ${thumbUpCount}
    	from (select rownum rn, a.* from(
    	select * from ${review} where ${gameId}=#{gameId} order by ${reviewId} desc)a
    	) where rn between #{start} and #{end}
    </select>
    
    <select id="total_count" resultType="Integer">
    	select count(*) total_cnt from ${review}
    	where ${gameId}=#{gameId}
    </select>
        
    <select id="select_by_keyword" resultType="ReviewVO">
    	select ${reviewId}, ${gameId}, ${memberId}, ${reviewTitle}, ${reviewContent}, ${reviewDateCreated}, ${rating}, ${thumbUpCount}
    	from (select rownum rn, a.*
    	from (select * from ${review}
    	where (lower(${reviewTitle}) like '%'||lower(#{keyword})||'%' or
    		lower(${reviewContent}) like '%'||lower(#{keyword})||'%') and ${gameId}=#{gameId}
    		order by ${reviewId} desc)a
    	) where rn between #{start} and #{end}
    </select>
    
    <select id="total_count_by_keyword" resultType="Integer">
    	select count(*) total_cnt from ${review} where ${gameId}=#{gameId} and (lower(${reviewTitle}) like '%'||lower(#{keyword})||'%' or
    		lower(${reviewContent}) like '%'||lower(#{keyword})||'%')
    </select>
    
    <select id="get_rating" resultType="Integer">
    	select avg(${rating}) avg_rating from ${review} where ${gameId}=#{gameId}
    </select>
    

    <update id="update_thumb_up_count">
    	update ${review}
    	set ${thumbUpCount} = ${thumbUpCount} + #{amount}
    	where ${reviewId} = #{reviewId}
    </update>

	<select id="order_by_thumbUpCnt" resultType="ReviewVO">
		select ${reviewId}, ${gameId}, ${memberId}, ${reviewTitle}, ${reviewContent}, ${reviewDateCreated}, ${rating}, ${thumbUpCount}
    	from (select rownum rn, a.* from(
    	select * from ${review} where ${gameId}=#{gameId} order by ${thumbUpCount} desc, ${reviewId} desc)a
    	) where rn between #{start} and #{end}
	</select>
	
	<select id="select_by_keyword_order_by_thumbUpCnt" resultType="ReviewVO">
		select ${reviewId}, ${gameId}, ${memberId}, ${reviewTitle}, ${reviewContent}, ${reviewDateCreated}, ${rating}, ${thumbUpCount}
    	from (select rownum rn, a.*
    	from (select * from ${review}
    	where (lower(${reviewTitle}) like '%'||lower(#{keyword})||'%' or
    		lower(${reviewContent}) like '%'||lower(#{keyword})||'%') and ${gameId}=#{gameId}
    		order by ${thumbUpCount} desc, ${reviewId} desc)a
    	) where rn between #{start} and #{end}
	</select>
</mapper>
