<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.spring.guteam.reviewMapper">

    <insert id="insert">
    	insert into ${review} (${gameId}, ${memberId}, ${reviewTitle}, ${reviewContent}) values (#{gameId}, #{memberId}, #{reviewTitle}, #{reviewContent})
    </insert>
    <select id="select_all_by_game_id" resultType="ReviewVO">
    	select * from ${review} where ${gameId}=#{gameId} order by ${reviewId} desc
    </select>
    <select id="select_by_review_id" resultType="ReviewVO">
    	select * from ${review} where ${reviewId}=#{reviewId}
    </select>
    <update id="update">
    	update ${review} set ${memberId}=#{memberId}, ${reviewTitle}=#{reviewTitle}, ${reviewContent}=#{reviewContent}, ${rating}=#{rating} where ${reviewId}=#{reviewId}
    </update>
    <delete id="delete">
    	delete ${review} where ${reviewId}=#{reviewId}
    </delete>
    
    <select id="paging" resultType="ReviewVO">
    	select ${reviewId}, ${gameId}, ${memberId}, ${reviewTitle}, ${reviewContent}, ${reviewDateCreated}, ${rating}, ${thumbUpCount}
    	from (select rownum rn, a.* from(
    	select * from ${review} where ${gameId}=#{gameId} order by ${reviewId} desc)a
    	) where rn between #{start} and #{end}
    </select>
    
    <select id="total_count" resultType="Integer">
    	select count(*) total_cnt from ${review}
    </select>
    
    <select id="select_by_member_id" resultType="ReviewVO">
    	select ${reviewId}, ${gameId}, ${memberId}, ${reviewTitle}, ${reviewContent}, ${reviewDateCreated}, ${rating}, ${thumbUpCount}
    	from (select rownum rn, a.*
    	from (select * from ${review}
    	where ${gameId}=#{gameId} and ${memberId} like '%'||#{keyword}||'%'
    	order by ${reviewId} desc)a
    	) where rn between #{start} and #{end}
    	
    </select>
    
    <select id="select_by_keyword" resultType="ReviewVO">
    	select ${reviewId}, ${gameId}, ${memberId}, ${reviewTitle}, ${reviewContent}, ${reviewDateCreated}, ${rating}, ${thumbUpCount}
    	from (select rownum rn, a.*
    	from (select * from ${review}
    	where ${reviewTitle} like '%'||#{keyword}||'%' or
    		${reviewContent} like '%'||#{keyword}||'%'
    		order by ${reviewId} desc)a
    	) where rn between #{start} and #{end}
    </select>
    

    <update id="update_thumb_up_count">
    	update ${review}
    	set ${thumbUpCount} = ${thumbUpCount} + #{amount}
    	where ${reviewId} = #{reviewId}
    </update>

    <!-- 
    #{start} : criteria.getStart()
    #{end} : criteria.getEnd()
     -->
</mapper>
