<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="project.spring.guteam.WishList">
	<insert id="insert">
		insert into ${wish_list}
		values(#{memberId},#{gameId})
	</insert>
	
	<select id="select_by_memberId_paging" resultType="WishListVO">
		select ${memberId},${gameId}
		from (select rownum rn, a.* from(
				select * from ${wish_list} where ${memberId}=#{memberId} order by ${gameId}
				)a
			 )b	where rn between #{start} and #{end}
	</select>
	
	<select id="select_by_gameId" resultType="String">
		select ${memberId} from ${wish_list}
		where ${gameId}=#{gameId}
	</select>
	
	<select id="find" resultType="WishListVO">
		select * from ${wish_list}
		where ${memberId} = #{memberId} and ${gameId} = #{gameId} 
	</select>
	
	<delete id="delete">
		delete from ${wish_list}
		where ${memberId}=#{memberId} and ${gameId}=#{gameId}
	</delete>
</mapper>