<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- DB 테이블과 컬럼들을 mapper에 매핑하기 위한 변수 선언 -->
	<!-- 
	* property
	- name : mapper.xml 에서 사용될 이름
	- value : DB 테이블 및 컬럼 이름
	 -->
	 
	 <properties>
	 	
		<property name="board_comment" value="board_comment" />
		<property name="commentId" value="comment_id" />
		<property name="gameBoardId" value="game_board_id" />
		<property name="memberId" value="member_id" />
		<property name="commentContent" value="comment_content" />
		<property name="commentDateCreated" value="comment_date_created" />
		<property name="replyCnt" value = "reply_cnt" />
		<property name="boardId" value="board_id"/>
		<property name="content" value="content"/>
		<property name="createdDate" value="created_date"/>
		
		<property name="discount" value="discount"/>
		<property name="genre" value="genre"/>
		<property name="discountRate" value="discount_rate"/>
		
	 	<property name="reply" value="reply" />
	 	<property name="replyId" value="reply_id"/>
	 	<property name="commentId" value="comment_id"/>
	 	<property name="memberId" value="member_id"/>
	 	<property name="replyContent" value="reply_content"/>
	 	<property name="replyDateCreated" value="reply_date_created"/>
	 	
	 	<property name="game" value="game"/>
   		<property name="gameId" value="game_id"/>
   		<property name="gameName" value="game_name"/>
   		<property name="price" value="price"/>
   		<property name="genre" value="genre"/>
   		<property name="releaseDate" value="release_date"/>
   		<property name="updateDate" value="update_date"/>
   		<property name="gameImageName" value="game_image_name"/>
   		
   		<property name="game_board" value="game_board"/>
   		<property name="gameBoardId" value="game_board_id"/>
   		<property name="gameId" value="game_id"/>
   		<property name="memberId" value="member_id"/>
   		<property name="gameBoardTitle" value="game_board_title"/>
   		<property name="gameBoardContent" value="game_board_content"/>
   		<property name="gameBoardDateCreated" value="game_board_date_created"/>
   		<property name="commentCnt" value="comment_cnt"/>
   		
   		<property name="review" value="review"/>
   		<property name="reviewId" value="review_id"/>
   		<property name="gameId" value="game_id"/>
   		<property name="memberId" value="member_id"/>
   		<property name="reviewTitle" value="review_title"/>
   		<property name="reviewContent" value="review_content"/>
   		<property name="reviewDateCreated" value="review_date_created"/>
   		<property name="rating" value="rating"/>
   		<property name="thumbUpCount" value="thumb_up_count"/>
   		
   		<property name="thumb" value="thumb"/>
   		<property name="reviewId" value="review_id"/>
   		<property name="memberId" value="member_id"/>
   		<property name="upDown" value="up_down"/>
   		
   		<property name="member" value="member"/>
   		<property name="memberId" value="member_id"/>
   		<property name="password" value="password"/>
   		<property name="nickname" value="nickname"/>
   		<property name="email" value="email"/>
   		<property name="phone" value="phone"/>
   		<property name="cash" value="cash"/>
   		<property name="memberImageName" value="member_image_name"/>
   		<property name="isAdmin" value="is_admin"/>
	 	
	 	<property name="friend" value="friend"/>
	 	<property name="memberId" value="member_id"/>
	 	<property name="friendId" value="friend_id"/>
	 	
	 	<property name="friend_request" value="friend_request"/>
	 	<property name="sendMemberId" value="send_member_id"/>
	 	<property name="receiveMemberId" value="receive_member_id"/>
	 	<property name="sendDate" value="send_date"/>
	 	
	 	<property name="message_receive" value="message_receive"/>
	 	<property name="receiveMessageId" value="receive_message_id"/>
	 	<property name="receiveMemberId" value="receive_member_id"/>
	 	<property name="sendMemberId" value="send_member_id"/>
	 	<property name="sendMemberNickname" value="send_member_nickname"/>
	 	<property name="messageTitle" value="message_title"/>
	 	<property name="messageContent" value="message_content"/>
	 	<property name="messageDateCreated" value="message_date_created"/>
	 	<property name="messageSave" value="message_save"/>
	 	
	 	<property name="message_send" value="message_send"/>
	 	<property name="sendMessageId" value="send_message_id"/>
	 	<property name="sendMemberId" value="send_member_id"/>
	 	<property name="receiveMemberId" value="receive_member_id"/>
	 	<property name="receiveMemberNickname" value="receive_member_nickname"/>
	 	<property name="messageTitle" value="message_title"/>
	 	<property name="messageContent" value="message_content"/>
	 	<property name="messageDateCreated" value="message_date_created"/>
	 	<property name="messageSave" value="message_save"/>
	 	
	 	<property name="wish_list" value="wish_list"/>
	 	<property name="memberId" value="member_id"/>
	 	<property name="gameId" value="game_id"/>
	 	
	 	<property name="purchased" value="purchased"/>
	 	<property name="memberId" value="member_id"/>
	 	<property name="gameId" value="game_id"/>
	 	<property name="purchaseDate" value="purchase_date"/>
	 	
	 	<property name="viewed" value="viewed"/>
	 	<property name="viewedId" value="viewed_id"/>
	 	<property name="memberId" value="member_id"/>
	 	<property name="gameId" value="game_id"/>
	 	<property name="viewedDate" value="viewed_date"/>
	 <!-- name은 vo변수와 이름 같게 -->
	 <!--  select()호출시 name에 대소문자 구분을 안함 이거 따로 mybatis에 태그 넣어줘야하는데 이거 반드시 기억 -->
	 </properties>
	 
	 <!-- undersocre 명명법을 camel 명명법으로 변환 가능하도록 세팅 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>
	</settings>
	 
	 
	 
	 <!-- typeAliasese : mapper.xml의 select 리턴 타입에 들어갈 클래스 경로를 설정 -->
	 
	 <typeAliases>
	 	<package name="project.spring.guteam.domain" />
	 </typeAliases>

</configuration>