<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.spring.guteam.ReplyMapper">
	<insert id="insert">
		insert into ${reply}
		(${commentId},${replyId},${replyContent})
		values (#{commentId},#{replyId},#{replyContent})
	</insert>
	
	<select id="select_all_by_comment_id">
		select * from ${reply}
		where ${commentId} = #{commentId}
		order by ${replyId}
	</select>
	
	<update id="update">
		update ${reply}
		set ${replyComment} = #{replyComment}
		where ${replyId} = #{replyId}
	</update>
	
	<update id="delete">
		update ${reply}
		set ${replyComment} = 'deleted'
		where ${replyId} = #{replyId}
	</update>
</mapper>